
<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3">
                Add Contact
            </p>
        <p class="fst-italic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, possimus. Asperiores ducimus quas soluta, doloremque excepturi corporis ab accusamus blanditiis, rem illo quia porro, odio totam eos nisi doloribus architecto.
        </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="create">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
          
                
            </form>
        </div>
    </div>
</div>














